<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="old" connectionString="server=localhost;port=3306;uid=root;password=123456;database=test;Charset=utf8"/>
    <add name="new" connectionString="server=localhost;port=3306;uid=root;password=123456;database=test_up;Charset=utf8"/>
  </connectionStrings>
</configuration>