<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="old" connectionString="server=localhost;port=3306;uid=root;password=root;database=test;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="new" connectionString="server=localhost;port=3306;uid=root;password=root;database=test_up;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <clear />
    <!--<add key="ForwardEmail" value="*" />-->
    <add key="SmtpServer" value="smtp.163.com" />
    <add key="SmtpPort" value="*" />
    <add key="EmailFrom" value="*" />
    <add key="EmailPwd" value="*" />
    <add key="SmtpEnableSSL" value="true" />
  </appSettings>
</configuration>