################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DBUp/v15
/dbu.Build/obj/Debug
/DBUp/obj/x86/Debug
/dbu.DAL/obj/Debug

*/Debug
/DBUp_Mysql/bin/Debug/result

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in
[Oo]bj
[Ll]og
!/POS.Web/Client/log/
!/POS.Web/pos/log/

*.[Ll]og
.vs/
